/1.py
/2.py
/20051012.fits
/3.ipynb
/3.py
/4.py
/Catalog
/Ismear_sca.fits
/conv.fit
/cor0_st_1035463706_p.fit
/cor1_st_2489428266_b.fit
/flat.fits
/flat_filt
/flat_moon.fits
/flat_scatterd.fit
/flatbias_moon.fits
/fufoc.fit
/ishi_flat.fit
/itokawa_cor.fit
/moon.fits
/moon_Ismear.fits
/moon_Ismear10-6.fits
/moon_cor.fit
/moon_corrected.ipynb
/moon_readout.fits
/moon_readoutbias.fits
/moon_xsys.fit
/my_flat.fit
/original_image_.jpg
/output.jpg
/psf.pdf
/raw.fits
/read_flat.fits
/readout.fits
/readout10-6.fits
/readout_256.fits
/readout_cor.fit
/registered_image.jpg
/scaori.fits
/scatterd_light_frame
/smear_cor.fits
/smear_model.fits
/smear_model10-6.fits
/smear_n.fits
/smear_ori.fit
/test
/test.fits
/test_cor.fit
/ttttttt.py
/zzz.fit